.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 836px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 607px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    box-sizing: border-box;
    padding: 0 16px;
  }
}
