.intro__list {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 816px) {
  .intro__list {
    max-width: 720px;
    width: 100%;
  }
}
