.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin: 0;
}

@media screen and (max-width: 607px) {
  .footer__copyright {
    line-height: 1;
  }
}
