.lead__subtitle {
  max-width: 640px;
  width: 100%;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 0 64px;
}

@media screen and (max-width: 1080px) {
  .lead__subtitle {
    margin: 0 0 56px;
  }
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    max-width: calc(100% - 2*70px);
    font-size: 23px;
    line-height: 28px;
    margin: 0 0 48px;
  }
}

@media screen and (max-width: 530px) {
  .lead__subtitle {
    max-width: calc(100% - 2*16px);
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 44px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 40px;
  }
}
